<?xml version="1.0"?>
<!--
/**
 * Esmerio Neto
 *
 * @category Egsn
 * @package Egsn_StoreIntelligence
 * @copyright Copyright (c) 2026 Esmerio Neto.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Egsn_StoreIntelligence">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Search"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Config"/>
            <module name="Magento_GraphQl"/>
            <module name="Magento_MessageQueue"/>
            <module name="Magento_Webapi"/>
        </sequence>
    </module>
</config>
